<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kienycolin_csc372_assignment4_civiladvocacy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
        <!-- Mail -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
        <!-- Maps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="geo" />
        </intent>
        <!-- Facebook -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="fb" />
        </intent>
        <!-- Phone Call -->
        <intent>
            <action android:name="android.intent.action.DIAL" />

            <data android:scheme="tel" />
        </intent>
        <!-- Twitter -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="twitter" />
        </intent>
        <!-- YouTube -->

    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Civil Advocacy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KienyColin_CSC372_assignment4_civilAdvocacy"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".OfficialActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>